
body
{background-color: silver ;
border: 5px solid green;
width: 1200px;
height: 2200px;

}


.uppercontainer{
    display: flex;
    
}


.box
{
    background-color: black;
    color: white;
    border: 5px solid red;
    border-radius: 30px;
    display: inline-block;
    margin: 50px;
    text-align: center;
    align-items: center;
    text-decoration-style:dashed;
    font-style: italic;
    
}
.leftbox
{
    width: 1000px;
    height: 140px;
    display: block;
    
}
.midlebox
{
    width:1400px;
    height: 60px;
    margin-left: -100px;
}
.rightbox
{
    width: 1000px;
    height: 140px;
    margin-right: 100px;
    
    
}
.midcontainer{margin-right: 200px;}
.circle
{
    border-radius: 200px;
    width: 350px;
    height: 350px;
    background-color: lightskyblue;
    border: 10px solid lightslategrey;
    margin-left: 150px;
    margin-top: 200px;

}
.circletext
{
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    
}
.adg{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.formbox{
    height: 800px;
    width: 400px;
    border:10px dashed;
    border-color: red;
    margin-left: 600px;
    margin-top: -550px;
    color: tomato;
    text-align: center;
    text-decoration: underline;
    
    
}
.menu{
      border: 5px solid red;
      border-radius: 30px;
      color: white;
      width: 450px;
      height: 70px;
      text-align: center;
      background-color: black;
      align-items: center;
      margin-left: 450px;
      font-style:italic ;
      display: flex; 
      
}
.menutext{
    margin: 0 auto;
    font-size: 28px;
}

.menubox{
    border: 3px solid green;
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-radius:30px ;
    color: darkblue;
    text-align: center;
    display: block;
    justify-content: space-between;
    
    
}
.boxa{
    margin-top: 10px;
}
.boxb{margin-top: 10px;
    margin-left: 50px;
}
.boxc{margin-top: 10px;
    margin-left: 50px;
    }
.boxd{margin-top: 10px;
    
    }
.boxe{margin-top: 10px;
    margin-left: 50px;
    }
.boxf{margin-top: 10px;
    margin-left: 50px;
   
height: 350px;}
.kaka{
    display: flex;
    margin-top: 50px;

}